<p>
  Icons made by <a href="//www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a>,
  <a href="//www.freepik.com" title="Freepik">Freepik</a> and
  <a href="//www.flaticon.com/authors/dinosoft" title="Dinosoft">Dinosoft</a> from
  <a href="//www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by
  <a href="//creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
</p>
<p>
  Design by <a href="//github.com/billdybas">Bill Dybas</a>
</p>
