<table class="legend">
   <tr>
      <td>{% include glassdoor.html %}</td>
      <td>Glassdoor profile (if found)</td>
   </tr>
   <tr>
      <td>{% include whiteboarding.html %}</td>
      <td>Whiteboarding</td>
   </tr>
   <tr>
      <td>{% include live_coding.html %}</td>
      <td>Live Coding</td>
   </tr>
   <tr>
      <td>{% include online_coding_challenge.html %}</td>
      <td>Online Coding Challenge</td>
   </tr>
   <tr>
      <td>{% include homework.html %}</td>
      <td>Homework</td>
   </tr>
   <tr>
      <td>{% include code_review.html %}</td>
      <td>Code Review</td>
   </tr>
</table>
