<table class="legend">
   <tr>
      <td><a href="http://www.glassdoor.com">{% include images/glassdoor.html %}</a></td>
      <td>Glassdoor Profile</td>
   </tr>
   <tr>
      <td><a href="/interview_types/whiteboarding_and_live_coding.html">{% include images/whiteboarding.html %}</a></td>
      <td>Whiteboarding</td>
   </tr>
   <tr>
      <td><a href="/interview_types/whiteboarding_and_live_coding.html">{% include images/live_coding.html %}</a></td>
      <td>Live Coding</td>
   </tr>
   <tr>
      <td><a href="/interview_types/online_coding_challenges.html">{% include images/online_coding_challenge.html %}</a></td>
      <td>Online Coding Challenge</td>
   </tr>
   <tr>
      <td><a href="/interview_types/homework.html">{% include images/homework.html %}</a></td>
      <td>Homework</td>
   </tr>
   <tr>
      <td>{% include code_review.html %}</td>
      <td>Code Review</td>
   </tr>
</table>
