// Colors
$color-primary: #222831;
$color-secondary: #F95959;
$off-white: #EEEEEE;
$white: white;
$black: black;
$marker-red: #EE204D;
$whiteboard-gray: #A0A0A0;

// Fonts
$sans-serif: 'Arial', sans-serif;
