@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$color-primary: #222831;
$color-secondary: #F95959;
$white: #EEEEEE;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-primary;
  margin: 0;
}

#top {
  background-color: $white;
  height: 85vh;
  padding-top: 35px;
}

#middle {
  color: $white;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;

  h2 {
    color: $color-secondary;
    font-size: 2em;
    margin-top: 0;
  }

  p {
    font-size: 1em;
  }

  a {
    color: $color-secondary;
  }
}

.eraser {
  background-color: black;
  height: 10px;
  width: 40px;
}

.marker {
  background-color: white;
  height: 10px;
  position: relative;
  width: 50px;

  .body {
    border: 1px solid black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 10px;
    position: absolute;
    width: 100%;
  }

  .cap {
    height: 10px;
    position: absolute;
    right: 0;
    width: 10px;

    &::after {
      content: '';
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      display: block;
      height: 5px;
      position: absolute;
      right: -2.5px;
      top: 2.5px;
      width: 2.5px;
    }
  }

  .red {
    background-color: #EE204D;

    &::after {
      background-color: #EE204D;
    }
  }

  .black {
    background-color: black;

    &::after {
      background-color: black;
    }
  }
}

.tree {
  position: relative;

  .circle {
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;

    &.c-1 {
      left: 0;
    }

    &.c-2 {
      left: -25px;
      top: 30px;
    }

    &.c-3 {
      left: 40px;
      top: 40px;
    }
  }

  .line {
    background-color: black;
    display: block;
    height: 2px;
    position: absolute;

    &.l-1 {
      left: -12.5px;
      top: 25px;
      transform: rotate(130deg);
      width: 20px;
    }

    &.l-2 {
      left: 12.5px;
      top: 27.5px;
      transform: rotate(45deg);
      width: 37.5px;
    }
  }
}

.whiteboard {
  background-color: white;
  border: 10px solid #A0A0A0;
  border-radius: 5px;
  box-shadow: inset -1px 2px 2px #404040, 6px 9px 1px rgba(0, 0, 0, 0.1);
  height: 75vh;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 95%;

  h1 {
    color: $color-primary;
    font-family: 'Arial', sans-serif;
    font-size: 4em;
    hyphens: auto;
    text-transform: uppercase;
  }

  @media(min-width: 600px) {
    h1 {
      font-size: 5em;
      text-align: center;
    }
  }

  .eraser {
    bottom: 0;
    position: absolute;
    right: 50px;
  }

  .marker {
    bottom: 0;
    position: absolute;
    left: 10%;
  }

  .marker + .marker {
    margin-left: 75px;
  }

  .problems {
    font-family: 'Permanent Marker', 'Arial', sans-serif;

      .fizz-buzz {
        bottom: 50px;
        position: absolute;
        right: 50px;
        transform: rotate(350deg);
      }

      .complexity {
        bottom: 100px;
        position: absolute;
        right: 100px;
        transform: rotate(10deg);
      }

      .tree {
        bottom: 100px;
        position: absolute;
        right: 250px;
      }
  }
}

footer {
  background-color: $white;
  font-family: 'Arial', sans-serif;
  padding: 25px 0;
  text-align: center;
  width: 100%;

  a {
    color: $color-secondary;
  }
}
