---
---
@import "{{ site.theme }}";
.company-name td {
  vertical-align: middle;
}
.info-icons td {
  vertical-align: middle;
}
.info-icons ul {
  display: inline;
  vertical-align: middle;
}
.info-icons li {
  display: inline;
  padding-right: 5px;
}
.companies {
  float: left;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.companies a {
  color: black;
}
.companies tr {
  padding-bottom: 5px;
}
.companies td {
  padding: 0px;
  height: 100px;
}
.companies img {
  height: 25px;
}
.companies tr:nth-child(even) {
  background-color: #efefef;
}
